/JavaFxApplication/nbproject/private/
/JavaFxApplication/build/
/JavaApplication/nbproject/private/
/JavaProgramming/nbproject/private/
/JavaIoProgramming/nbproject/private/
/WebApplication/nbproject/private/
/JavaIoProgramming2/nbproject/private/
/WebApplication/build/
/JavaHomework1/nbproject/private/
/JavaIoProgramming/JavaHomework1/nbproject/private/
/RPi-LCD-JavaProgrmming/nbproject/private/
/RPi-LCD-JavaProgramming/nbproject/private/
/RPi-LCD-JavaProgramming/dist/
/RPi-LCD-JavaProgramming/build/
/RPi-LCD-JavaFXProgramming/nbproject/private/
/RPi-LCD-JavaFXProgramming/dist/
/RPi-LCD-JavaFXProgramming/build/