.txtInput:focused{
    -fx-border-color: green;
    -fx-background-color: green;
}

#btn1:hover{
    -fx-border-color: skyblue;
    -fx-background-color: greenyellow;
}

#btn1:pressed{
    -fx-border-color: skyblue;
    -fx-background-color: red;
}